[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
django-extensions = "*"
django-debug-toolbar = "*"
gunicorn = "*"
django-heroku = "*"
pillow = "*"
djangorestframework = "*"
django-registration-redux = "==2.0"
django-allauth = "*"
"django-gravatar2" = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
