{% extends 'base.html' %}

{% block title %}
    Login - {{ block.super }} 
{% endblock title %}


{% block content %}
    <h1>Login</h1>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
    <p>
        <a href="{% url 'password_reset' %}">
        Forgot your password? </a>
    </p>    
{% endblock content %}
