{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Hatch
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <link rel="stylesheet" href="{% static 'css/dashstyle.css' %}">
    <script src="{% static 'js/js.cookies.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Righteous|Roboto|Roboto+Slab" rel="stylesheet">  
</head>

    {% block header %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a href="{% url 'home' %}" class="navbar-brand" style="font-size: 45px; font-weight=900" id="hatch">Hatch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-stretch"id="navbar7">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: white; font-size: larger;" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white; font-size: larger;" href="{% url 'resources' %}">Resources</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" style="color: white" href="{% url 'profile' %}">Profile</a>
                    </li> {% endcomment %}
                    <a class="nav-link" style="color: white; font-size: larger;" href="{% url 'auth_logout' %}">Logout</a>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="{% url 'resources' %}">Resources</a>
                    </li>
                    <a class="nav-link" style="color: white" href="{% url 'auth_login' %}">Login</a>
                    <a class="nav-link" style="color: white" href="{% url 'registration_register' %}">Register</a>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% endblock header %}

<body>
    {% block content %}
    {% endblock content %}
</body>

<footer>
    {% block footer %}
        <ul>
            <li><a href="{% url 'ourteam' %}">Meet the Team</a></li>
            <li><a href="{% url 'terms' %}">Terms</a></li>
            <li><a href="{% url 'privacy' %}">Privacy</a></li>
        </ul>
    {% endblock footer %}
</footer> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="{% static 'js/myChart.js' %}"></script>
<script src="{% static 'js/quotes.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
</body>
</html>