{% extends 'base.html' %} 
{% block title %}
    Dashboard - {{ block.super }} 
{% endblock title %}

{% block content %}
    {% comment %} <p>Dashboard Content</p> {% endcomment %}

<div>
<!-- Header Container -->
    <div class="lg-container">
        <div class="row">
            <div class="col">Profile picture</div>
            <div class="col">
                <div class="col">Username</div>
                <div class="col">Email address</div>
            </div>
            <div class="col">
                <div class="col">Motivate Me!</div>
                <div class="col">Badges</div>
            </div>
        </div>
    </div>
<!-- Large Container that holds goal container and note container -->
    <div class="lg-container">
        <div class="container ib col1of2">
<!--  GOAL CONTAINER -->
            <div class="goal-container" id='goal-list' style="margin: 10px"><center>Goal Container</center>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newGoalModal">
                +Goal</button>

<!-- Modal -->
                <div class="modal fade" id="newGoalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Have a new goal?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                        <input type="text" id='new-goal-title' class="form-control" placeholder="Let's make it happen ..." aria-label="What's your new goal?" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id='save-goal'>Save</button>
                    </div>
                    </div>
                </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col col-sm-6">
                       <div class="goal-card" data-goal="{{ goal.id }}">
                            <div class="card-body">                 
                                <h5 class="ib card-title">
                                {{ goal.title }}</h5>
<!-- Modal text on front of card, not associated with checklist -->                                
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id='expand'>Expand</button>

<!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">{{ goal.title }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
<!-- Checklist within the modal body -->
                                            <div class="modal-body">
                                                <button id='plus-button' type="button" class="btn btn-success" style='margin: 5px; float: right;'>+</button>
                                                <ul id="checklist" style="list-style: none">                                     
                                                <li><div class="input-group mb-3" id='checklist-task'>
                                                    <div class="input-group-prepend">
                                        
                                                        <div class="input-group-text">
                                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                                        </div>
                                                    </div>
                                                        <input type="text" class="form-control" aria-label="Text input with checkbox"
                                                        id='new-task-text'>
                                                </div>
                                                </li>
                                                </ul>
                                            </div>
<!-- END of checklist within modal body -->                                            
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" id='save-changes'>Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col col-sm-6">
                    <div class="goal-card">
                    <div class="card-body">
                        <h5 class="card-title">Goal 2</h5>
                        <p class="card-text">It's a broader card with text below as a natural lead-in.</p>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="goal-card">
                    <div class="card-body">
                        <h5 class="card-title">Goal 3</h5>
                        <p class="card-text">It's a broader card with text below as a natural lead-in.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="goal-card">
                    <div class="card-body">
                        <h5 class="card-title">Goal 4</h5>
                        <p class="card-text">It's a broader card with text below as a natural lead-in.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} NOTE CONTAINER {% endcomment %}
        <div class="container" style="margin: 10px"><center>Note Container</center>
            <div class="col-md-12 col-sm-6 my-col">
            <div class="row">
                <div class="container">
                    <div class="item item-blue">Flex item 1</div>
                    <div class="item item-pink">I am so excited about my projectdk</div>
                    <div class="item item-blue">Flex item 1</div>
                    <div class="item item-pink">I am so excited about my project</div>
                    <div class="item item-blue">Flex item 1</div>
                    <div class="item item-pink">I am so excited about my project</div>
                    <div class="item item-blue">Flex item 1</div>
                    <div class="item item-pink">I am so excited about my project</div>
                    <div class="item item-blue">Flex item 1</div>
                    <div class="item item-pink">I am so excited about my projectdk</div>
                    <div class="item item-blue">Flex item 1</div>
                    <div class="item item-pink">I am so excited about my project</div>
                    <div class="item item-blue">Flex item 1</div>
                    <div class="item item-pink">I am so excited about my project</div>
                    <div class="item item-blue">Flex item 1</div>
                    <div class="item item-pink">I am so excited about my project</div>
                </div>
            </div>
        </div>
    </div>
    </div>
       <div class="container col2of2">
            <div class="row">
                <div class="col col-10 col-justify-content-center"> 
                    Meter Container
                </div>
            </div>
            <h1>MY JOURNEY PROGRESS</h1>
            <div class="container-clear">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div> 

{% endblock content %}