{% extends 'base.html' %} 
{% load app_tags %}
{% block title %}
    Local Events - {{ block.super }} 
{% endblock title %}

{% block content %}

<div class="container-fluid" id="main">
        <div class="col main pt-5 mt-3">
            <div class="row">
                <div class="col-sm-4 py-2">
                    <div class="card text-white h-100">
                        <div class="card-body">
                         <h6 class="display-4">Welcome</h6>
                            <h1 class="display-6">{{ user.username }} !</h1>
                             <body onload="randomQuote()">
                         
                            
                        {% comment %} <div id="showQuotes"></div> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 py-2">
                    <div class="card text-white h-100">
                        <div class="card-body">
                        <h1 class="display-4 d-none d-sm-block">
                        Transition your way!!
                        </h1>
                        <p class="lead d-none d-sm-block">You can do what you set your mind too!</p>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->

            <a id="features"></a>
            <hr>
            <p class="lead mt-5">
                At hatch we believe that your transition should be done your way and on your terms! There is no right or wrong way to tranistion. The transgender experience can vary but one thing we all have in common is a need to express our true-selves and a place to start planning our journey to accomplis that need. Our mission is to provide you with the resources and tools needed to accomplish such a huge part of your life!
            </p>
            <div class="row my-4">
                <div class="col-lg-3 col-md-4">
                    
                </div>
                <div class="col-lg-9 col-md-8">
                    
                </div>
            </div>
            <!--/row-->

            

        <a id="layouts"></a> 
             <hr> 
         <h2 class="sub-header mt-5">Track Your Progress</h2>
         <hr>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <!--took out card here if this is moved profile card moves to the right of the screen -->
                  

                </div>
                <div class="col-lg-6" #profile-card>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                    </ul> 
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <br>
                        <div role="tabpanel" class="tab-pane active" id="home1">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile1">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages1">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="settings1">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-6">
                    <div class="card card-default card-body" id="profile-card">
                        <ul id="tabsJustified" class="nav nav-tabs nav-justified">
                            <li class="nav-item">
                                <a class="nav-link" href="" data-target="#tab1" data-toggle="tab">Resources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="" data-target="#tab2" data-toggle="tab">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="" data-target="#tab3" data-toggle="tab">Journal</a>
                            </li>
                        </ul>
                        <!--/tabs-->
                        <br>
                        <div id="tabsJustifiedContent" class="tab-content">
                            <div class="tab-pane" id="tab1">
                                <div class="list-group">
                                    <a href="" class="list-group-item"><span class="float-right label label-success">9</span> Home Link</a>
                                    <a href="" class="list-group-item"><span class="float-right label label-success">8</span> Link 2</a>
                                    <a href="" class="list-group-item"><span class="float-right label label-success">23</span> Link 3</a>
                                    <a href="" class="list-group-item text-muted">Link n..</a>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tab2">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <h1 "text-uppercase">{{ user.username }}</h1>
                                        <p><div id="showQuotes"></div></p>
                                    </div>
                                    <div class="col-sm-5"><img src="{{ user|gravatar:200 }}" class="float-right img-responsive img-rounded"></div>
                                </div>
                                <hr>
                                <a href="javascript:;" class="btn btn-info btn-block" data-toggle="modal" data-target="#newGoalModal">Add a Goal</a>
                                <div class="spacer5"></div>
                            </div>
                            <div class="tab-pane" id="tab3">
                             <div class="col-sm-12" id="note-home"> 
                                <div class="row">
                                        <div class="container" id="journal"></div>
                                    </div>
                                <!-- Modal -->
                                <div class="modal fade" id="addNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                    <div class="modal-body" id="note-input">
                                        <label for="message-text" class="col-form-label">Journal Entry</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" id='saveNote'>Save</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <hr>
                             <a href="javascript:;" class="btn btn-info btn-block" data-toggle="modal" data-target="#addNote">Create a Journal Entry</a>
                            </div>
                            
                                 {% comment %} <div class="card mb-3" id="note-home">
                                    <div class="card-body" id="journal">
                           
                                      
                                    </div>
                                </div>
                                  
                            </div> {% endcomment %}
                           
                        </div>
                        <!--/tabs content-->
                    </div><!--/card-->
                </div><!--/col-->
                <div class="col-lg-6">

                    <div class="card mb-3">
                        <div class="card-header">
                           My Overall Progress
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> Hatchling </h5>
                            <p class="card-text"> <canvas id="myChart"></canvas> </p>  
                        </div>
                    </div>
                    

                </div> <!--dashboard goal madness listed below-->
                
            
            </div>
            <p> 
            <hr>
            Our journey isn't an easy one and it is certain that we will encounter plenty of roadblocks along the way. Below we have provided you with a way to keep track of your goals. All of our journyes are unique and will require a high degree of planning. If your journey involves changing your name, surgeries, or hormones you will need to seek out a therapist who is qualified in LGBT issues. 
        <a id="more"></a>
            <hr>
            <div class="card">
                <div class="card-header">
               
                <h1 class="d-flex justify-content-center" "display-4 d-none d-sm-block">
                Create your goals!
                </h1>
                    
                </div>
                <div class="card-body">
                 <a id="features"></a>
                {% comment %} <div class="d-flex justify-content-end">
                     <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newGoalModal">
                    +Goal</button>
                    </div> {% endcomment %}
            {% comment %} <hr> {% endcomment %}
            <div class="row my-4">
                <div class="col-lg-3 col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="//placehold.it/740x180/bbb/fff?text=..." alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Layouts</h4>
                            <p class="card-text">Flexbox provides simpler, more flexible layout options like vertical centering.</p>
                            <a href="#" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                    <div class="card card-inverse bg-inverse mt-3">
                        <div class="card-body">
                            <h3 class="card-title">Flexbox</h3>
                            <p class="card-text">Flexbox is now the default, and Bootstrap 4 supports SASS out of the box.</p>
                            <a href="#" class="btn btn-outline-secondary">Outline</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="table-responsive">
                    
                     <div class="col-lg-12">
                         <div class="row mb-3" id='goal-list' >
              
                <!--/row-->
                <!--using this for modaling from previous dash -->
                            <div class="modal fade" id="newGoalModal" tabindex="-1" role="dialog" aria-labelledby="newGoalModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="newGoalModalTitle">Have a new goal?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="input-group mb-3">
                                                    <input type="text" id='new-goal-title' class="form-control" placeholder="Let's make it happen ..." aria-label="What's your new goal?" aria-describedby="basic-addon2">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary" id='save-goal' data-dismiss="modal">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                                    <!-- End of modal to create a new goal-->

                                                    <!-- Modal for viewing checklist of tasks -->
                                                    <!--Modal HEADER-->
                                <div class="modal fade" id="tasksModal" tabindex="-1" role="dialog" aria-labelledby="tasksModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="tasksModalLabel">Sample title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                                <!--Modal BODY - CHECKLIST-->
                                            <div class="modal-body" >
                                                <div class="progress">
                                                    <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                        <span id="current-progress"></span>
                                                    </div>
                                                </div>
                                                <button id='the-plus-button' type="button" class="btn btn-success" style='margin: 5px; float: right;'>+</button>
                                                <ul id="checklist" style="list-style: none" class='checklist'></ul>
                                            </div>
                                            <!-- Modal FOOTER -->                                            
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" id='save-changes'>Save</button>
                                            </div>
                                        </div>
                                    </div>
                                {% comment %} </div> {% endcomment %}
                             </div>
                        </div><!--endofgoal-->
                        </div>
                        
                         <a href="javascript:;" class="btn btn-info btn-block" data-toggle="modal" data-target="#newGoalModal">Add a Goal</a>
                      
                    </div>
                </div>
            </div>
                  
                       
                <!--end of body for card -->
                <div class="card-footer">
                    <p>image of a transflag here</p>
                    <p>Button goes up top to the right</p>
                </div>
            </div>

           
            </div>
            <!--/row-->

            {% comment %} <a id="more"></a>
            <hr>
            <h2 class="sub-header mt-5">Use card decks for equal height rows of cards</h2>
            <div class="mb-3">
                <div class="card-deck">
                    <div class="card card-inverse card-success text-center">
                        <div class="card-body"id="goal-things">
                        
                            <blockquote class="card-blockquote">
                                <p>It's really good news that the new Bootstrap 4 now has support for CSS 3 flexbox.</p>
                                <footer>Makes flexible layouts <cite title="Source Title">Faster</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div> {% endcomment %}
                
                    {% comment %} <div id="accordion" role="tablist" aria-multiselectable="true">
                    </div>
                    <p class="mt-4">
                        <a href="/go/KrUO8QpyXP/bootstrao-4-dashboard" target="_ext">Get this Bootstrap 4 admin dashboard at Codeply</a>
                    </p>
                </div><!--/col--> {% endcomment %}
            </div><!--/row-->
            

        </div>
        <!--/main col-->

</div>



{% endblock content %}