{% extends 'base.html' %} 
{% block title %}
    Dashboard - {{ block.super }} 
{% endblock title %}

{% block content %}
    <p>Dashboard Content</p>

<div>
<div class="container"> 
    <div class="container">Header Container
        <div class="row">
            <div class="col">Profile picture</div>
            <div class="col">
                <div class="col">Username</div>
                <div class="col">Email address</div>
            </div>
            <div class="col">
                <div class="col">Motivate Me!</div>
                <div class="col">Badges</div>
            </div>
        </div>
    </div>
    <div class="container ib">
    <div class="container col1of2">
        <div class="container" style="margin: 10px"><center>Goal Container</center>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Goal 1</h5>
                        <p class="card-text">It's a broader card with text below as a natural lead-in.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Goal 2</h5>
                        <p class="card-text">It's a broader card with text below as a natural lead-in.</p>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Goal 3</h5>
                        <p class="card-text">It's a broader card with text below as a natural lead-in.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Goal 4</h5>
                        <p class="card-text">It's a broader card with text below as a natural lead-in.</p>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Goal 5</h5>
                        <p class="card-text">It's a broader card with text below as a natural lead-in.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Goal 6</h5>
                        <p class="card-text">It's a broader card with text below as a natural lead-in.</p>
                    </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container" style="margin: 10px"><center>Note Container</center>
            <div class="row">
                <div class="card">
                    <div class="card-body2">
                        This is some text within a card body that takes up space.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-body2">
                        This is some text within a card body that takes up space.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-body2">
                        This is some text within a card body that takes up space.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-body2">
                        This is some text within a card body that takes up space.
                    </div>
                </div>
            </div>

        </div>
    </div>
        <div class="container col2of2">
            <div class="row">
                <div class="col col-justify-content-center col-align-items-center"> 
                    <p>Cool Goal Meter Here!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}