{% extends 'base.html' %} 
{% block title %}
    lgbt Business - {{ block.super }} 
{% endblock title %}

{% block content %}
    <h1>LGBT Business Content</h1>
    <p>Business content</p>

{% comment %} <div class='examples'>
  <div class='parent'>
    <label for='hy'>Move stuff between these two containers. </label>
    <div class='wrapper'>
      <div id='left-defaults' class='container'>
        <div>You can move these elements between these two containers</div>
        <div>Moving them anywhere else isn't quite possible</div>
        </div>
      </div>
      <div id='right-defaults' class='container'>
        <div>There's also the possibility of moving elements around in the same container, changing their position</div>
        <div>This is the default use case. You only need to specify the containers you want to use</div>
      </div>
    </div> {% endcomment %}

 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNote">
  +
</button>

<!-- Modal -->
<div class="modal fade" id="addNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <label for="message-text" class="col-form-label">Journal Entry</label>
        <textarea class="form-control" id="message-text"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

            
{% endblock content %}