{% extends 'base.html' %} 
{% load app_tags %}
{% block title %}
    lgbt Business - {{ block.super }} 
{% endblock title %}

{% block content %}
 <div class='photo-grid-container'>
  <div class='photo-grid'>
    <div class='photo-grid-item first-item'>
      <img src='images/one.svg'/>
    </div>
    <div class='photo-grid-item'>
      <img src='images/two.svg'/>
    </div>
    <div class='photo-grid-item'>
      <img src='images/three.svg'/>
    </div>
  </div>
</div>

<div class="goal-card-container">
    <div class="goal-id">
        <div class="goal-card" id="${ goal.id }">
         </div>
        <div class="card-body" data-author="${ goal.author }"> 
         </div>
        <div class="card-title"> 
            <h5 class="ib card-title"> ${ goal.title }</h5>  
                <!-- Expand button, connected to goal.id -->   
            <button type="button" class="btn btn-primary" data-toggle="modal" data-goal="${ goal.id }" data-title="${ goal.title }" data-target="#tasksModal" id='expand'>Expand</button>
        </div>   

    </div>
</div>

{% endblock content %}

 {% comment %} <div class="container">
        <div class="goal-card" id="${ goal.id }">
            <div class="card-body" data-author="${ goal.author }">  
                <h5 class="ib card-title"> ${ goal.title }</h5>  
                <div class="align-self-end p-2 bd-highlight" style="background-color:blue;">          
                    <!-- Expand button, connected to goal.id -->                                
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-goal="${ goal.id }" data-title="${ goal.title }" data-target="#tasksModal" id='expand'>Expand</button>
                </div>   
            </div>
        </div>
    </div>


     <div class="goal-card-container">
        <div class="goal-id">
            <div class="goal-card" id="${ goal.id }">
            </div>
            <div class="card-body" data-author="${ goal.author }"> 
            </div>
            <div class="card-title"> 
                <h5 class="ib card-title"> ${ goal.title }</h5>  
                    <!-- Expand button, connected to goal.id -->   
                <button type="button" class="btn btn-primary" data-toggle="modal" data-goal="${ goal.id }" data-title="${ goal.title }" data-target="#tasksModal" id='expand'>Expand</button>
            </div>   
        </div>
    </div> {% endcomment %}