{% extends 'base.html' %} 
{% block title %}
    lgbt Business - {{ block.super }} 
{% endblock title %}

{% block content %}
    <h1>LGBT Business Content</h1>
    <p>Business content</p>

{% comment %} <div class='examples'>
  <div class='parent'>
    <label for='hy'>Move stuff between these two containers. </label>
    <div class='wrapper'>
      <div id='left-defaults' class='container'>
        <div>You can move these elements between these two containers</div>
        <div>Moving them anywhere else isn't quite possible</div>
        </div>
      </div>
      <div id='right-defaults' class='container'>
        <div>There's also the possibility of moving elements around in the same container, changing their position</div>
        <div>This is the default use case. You only need to specify the containers you want to use</div>
      </div>
    </div> {% endcomment %}

 


<div class="container my-container">
    <div class="row my-row">
        <div class="col-md-6 col-sm-6 my-col">
            Row 1 Col 1
            <div class="card">
            <div class="card-body">
              This is some text within a card body.
              <div class="add-links">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div> 
            </div>
          </div>
        </div>
        <div class="scrollbar scrollbar-rare-wind">
        <div class="force-overflow"></div>
        <ul class="smooth-scroll list-unstyled">
          <li> dkdkdkdk </li>
            <li> dkdkdkdk </li>
              <li> dkdkdkdk </li>
                <li> dkdkdkdk </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 my-col">
            <div class="d-flex justify-content-start">
              <div class="container">
                <div class='parent'>
                  <div class='wrapper'>
                    <div class="d-flex flex-column panel">
                      <div id='left-defaults' class='container'>
                          <div class="item item-blue">Flex item 1</div>
                          <div class="item item-pink">Flex item 2</div>
                          <div class="item item-lime">Flex item 3</div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    <div class="row justify-content-between align-items-stretch my-row">
        <div class="col-4 my-col order-md-12">
            Row 2 Col 1
        </div>
        <div class="col-4 offset-md-2 my-col align-self-start order-md-2">
            Row 2 Col 2
        </div>
    </div>
</div>


</html>

            
{% endblock content %}