{% extends 'base.html' %} 
{% load app_tags %}
{% block title %}
    Local Events - {{ block.super }} 
{% endblock title %}

{% block content %}

<div class="container-fluid" id="main">
        <div class="col main pt-5 mt-3">
            <div class="row">
                <div class="col-sm-4 py-2">
                    <div class="card text-white h-100">
                        <div class="card-body">
                         <h6 class="display-4">Welcome</h6>
                            <h1 class="display-6">{{ user.username }} !</h1>
                             <body onload="randomQuote()">
                         
                            
                        {% comment %} <div id="showQuotes"></div> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 py-2">
                    <div class="card text-white h-100">
                        <div class="card-body">
                        <h1 class="display-4 d-none d-sm-block">
                        Transition your way!!
                        </h1>
                        <p class="lead d-none d-sm-block">You can do what you set your mind too!</p>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->

            <a id="features"></a>
            <hr>
            <p class="lead mt-5">
                At hatch we believe that your transition should be done your way and on your terms! There is no right or wrong way to tranistion. The transgender experience can vary but one thing we all have in common is a need to express our true-selves and a place to start planning our journey to accomplis that need. Our mission is to provide you with the resources and tools needed to accomplish such a huge part of your life!
            </p>
            <div class="row my-4">
                <div class="col-lg-3 col-md-4">
                    
                </div>
                <div class="col-lg-9 col-md-8">
                    
                </div>
            </div>
            <!--/row-->

            {% comment %} <a id="more"></a>
            <hr>
            <h2 class="sub-header mt-5">Use card decks for equal height rows of cards</h2>
            <div class="mb-3">
                <div class="card-deck">
                    <div class="card card-inverse card-success text-center">
                        <div class="card-body">
                            <blockquote class="card-blockquote">
                                <p>It's really good news that the new Bootstrap 4 now has support for CSS 3 flexbox.</p>
                                <footer>Makes flexible layouts <cite title="Source Title">Faster</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            
            <!--/row-->
       
            {% comment %} <a id="flexbox"></a>
            <hr>
            <h2 class="mt-5">Masonry-style grid columns</h2>
            <h6>with Bootstrap 4 flexbox</h6>

            <div class="card-columns mb-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="//placehold.it/600x200/444/fff?text=..." alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">New XL Grid Tier</h4>
                        <p class="card-text">With screens getting smaller, Bootstrap 4 introduces a new grid breakpoint with the col-xl-* classes. This extra tier extends the media query range all the way down to 576 px. Eventhough the new XL tier would make one think it’s been added to support extra large screens, it’s actually the opposite.</p>
                    </div>
                </div>
            </div> {% endcomment %}
            
       
            {% comment %} <div class="col-md-6 py-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>  {% endcomment %}


            <!--/card-columns-->

        <a id="layouts"></a> 
             <hr> 
         <h2 class="sub-header mt-5">Track Your Progress</h2>
         <hr>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <!--took out card here if this is moved profile card moves to the right of the screen -->
                  

                </div>
                <div class="col-lg-6">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                    </ul> 
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <br>
                        <div role="tabpanel" class="tab-pane active" id="home1">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile1">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages1">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="settings1">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-6">
                    <div class="card card-default card-body">
                        <ul id="tabsJustified" class="nav nav-tabs nav-justified">
                            <li class="nav-item">
                                <a class="nav-link" href="" data-target="#tab1" data-toggle="tab">My Resources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="" data-target="#tab2" data-toggle="tab">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="" data-target="#tab3" data-toggle="tab">My Progress</a>
                            </li>
                        </ul>
                        <!--/tabs-->
                        <br>
                        <div id="tabsJustifiedContent" class="tab-content">
                            <div class="tab-pane" id="tab1">
                                <div class="list-group">
                                    <a href="" class="list-group-item"><span class="float-right label label-success">9</span> Home Link</a>
                                    <a href="" class="list-group-item"><span class="float-right label label-success">8</span> Link 2</a>
                                    <a href="" class="list-group-item"><span class="float-right label label-success">23</span> Link 3</a>
                                    <a href="" class="list-group-item text-muted">Link n..</a>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tab2">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <h1 "text-uppercase">{{ user.username }}</h1>
                                        <p><div id="showQuotes"></div></p>
                                    </div>
                                    <div class="col-sm-5"><img src="{{ user|gravatar:200 }}" class="float-right img-responsive img-rounded"></div>
                                </div>
                                <hr>
                                <a href="javascript:;" class="btn btn-info btn-block">Add a Goal</a>
                                 <a href="javascript:;" class="btn btn-info btn-block">Create a Journal Entry</a>
                                <div class="spacer5"></div>
                            </div>
                            <div class="tab-pane" id="tab3">
                            
                                 <div class="card mb-3">
                                    <div class="card-body">
                                        <h4 class="card-title">You are AMAZING!</h4>
                                        {% comment %} <p class="card-text"> <canvas id="myChart"></canvas> </p>   {% endcomment %}
                                    </div>
                                </div>
                                  
                            </div>
                        </div>
                        <!--/tabs content-->
                    </div><!--/card-->
                </div><!--/col-->
                <div class="col-lg-6">

                    <div class="card mb-3">
                        <div class="card-header">
                            Bye .well, .panel &amp; .thumbnail
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Replaced with .card</h4>
                            <p class="card-text"> <canvas id="myChart"></canvas> </p>  
                        </div>
                    </div>

                </div>
                
                    {% comment %} <div id="accordion" role="tablist" aria-multiselectable="true">
                    </div>
                    <p class="mt-4">
                        <a href="/go/KrUO8QpyXP/bootstrao-4-dashboard" target="_ext">Get this Bootstrap 4 admin dashboard at Codeply</a>
                    </p>
                </div><!--/col--> {% endcomment %}
            </div><!--/row-->

        </div>
        <!--/main col-->

</div>



{% endblock content %}