{% extends 'base.html' %} 
{% block title %}
    About - {{ block.super }} 
{% endblock title %}

{% block content %}

<div class="container-clear" style="margin-top: 60px">
    <h1><center>Meet Our Team</center></h1>
    <hr>

    <div class="card" style="margin-top:45px; margin:25px; background-color:#D9DADB; border-radius:25px;">
        <div class="row">
            <div class="col-md-4 col-xs-6 col-sm-6 col-lg-4">
                <div class="card-body" style="text-align:center">
                    <a href="https://www.linkedin.com/in/crystal-ramirez-b0912876/" target="_blank">
                        <img style="width: 100%; max-width: 100%; height: auto; border-radius:25px;" src="https://media.licdn.com/dms/image/C4E03AQEaAzsAeUuohQ/profile-displayphoto-shrink_800_800/0?e=1553126400&v=beta&t=NewZfhormRqXMESuUKpzfZd_-H99t_v1kakkIRkNMoQ" />
                    </a>
                </div>
            </div>
            <div class="col-md-8 col-xs-6 col-sm-6 col-lg-6">
                <div class="card-body">
                    <h2>Crystal Ramirez</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card" style="margin-top:45px; margin:25px; background-color:#D9DADB; border-radius:25px;">
        <div class="row">
            <div class="col-md-4 col-xs-6 col-sm-6 col-lg-4">
                <div class="card-body" style="text-align:center">
                    <a href="https://www.linkedin.com/in/meagan-glatz/" target="_blank">
                        <img style="width: 100%; max-width: 100%; height: auto; border-radius:25px;" src="https://media.licdn.com/dms/image/C5603AQFrEsBj5CFFBA/profile-displayphoto-shrink_800_800/0?e=1553126400&v=beta&t=xcVoheYdFZbIAYlXlFOoiXkdeHJxKuYkOIhbfnDjmVM" />
                    </a>
                </div>
            </div>
            <div class="col-md-8 col-xs-6 col-sm-6 col-lg-6">
                <div class="card-body">
                    <h2>Meagan Glatz</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="margin-top:45px; margin:25px; background-color:#D9DADB; border-radius:25px;">
        <div class="row">
            <div class="col-md-4 col-xs-6 col-sm-6 col-lg-4">
                <div class="card-body" style="text-align:center">
                    <a href="https://www.linkedin.com/in/rondaledavis/" target="_blank">
                        <img style="width: 100%; max-width: 100%; height: auto; border-radius:25px;" src="https://media.licdn.com/dms/image/C4E03AQGv0p8q2Xsu2Q/profile-displayphoto-shrink_200_200/0?e=1553126400&v=beta&t=kyKoeNyyYYjMxR6WBXi2soePu3icPQtsqsJ_I5-2h_A" />
                    </a>
                </div>
            </div>
            <div class="col-md-8 col-xs-6 col-sm-6 col-lg-6">
                <div class="card-body">
                    <h2>Rondale Davis</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}