{% extends 'base.html' %} 
{% block title %}
    Resources - {{ block.super }} 
{% endblock title %}

{% block content %}

    <div class="container-clear" style="margin-top: 60px">
        <h1><center>LGBTQ Friendly Businesses</center></h1>
        <div class="row justify-content-around">
            <div class="col-3">
                <div class="resource-card">
                    <div class="row">
                        <a href="https://beantraderscoffee.com/" target="_blank">
                            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/10530704_10152213734582197_3386872890501999960_n.jpg?_nc_cat=105&_nc_ht=scontent-iad3-1.xx&oh=870e50a5127ea68ca583c007c5beb5d1&oe=5CB8560F" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=bean%20traders&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.pureblack.de">pure black</a>
                        </div>
                        <style>.mapouter{text-align:right;height:300px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-around">
            <div class="col-3">
                <div class="resource-card">
                    <div class="row">
                        <a href="http://www.cocoacinnamon.com/" target="_blank">
                            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/17862758_1489228157755454_8075056310338662508_n.jpg?_nc_cat=109&_nc_ht=scontent-iad3-1.xx&oh=3f94b68ebb4f74a66e53bf1b646047e6&oe=5CB581EA" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=cocoa%20cinnamon%2C%20durham&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.pureblack.de">pure black</a>
                        </div>
                        <style>.mapouter{text-align:right;height:300px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-around">
            <div class="col-3">
                <div class="resource-card">
                    <div class="row">
                        <a href="https://www.starbucks.com/" target="_blank">
                            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/28471538_10156203387293057_6022178779515361320_n.png?_nc_cat=1&_nc_ht=scontent-iad3-1.xx&oh=267970922ceb1424ead1f37f34ecd78f&oe=5CCA445E" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Starbucks%2C%204010%20Durham-Chapel%20Hill%20Blvd&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.pureblack.de">pure black</a>
                        </div>
                        <style>.mapouter{text-align:right;height:300px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-around">
            <div class="col-3">
                <div class="resource-card">
                    <div class="row">
                        <a href="http://toast-fivepoints.com/" target="_blank">
                            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/10428506_10152498328578641_7589511417174479696_n.jpg?_nc_cat=101&_nc_ht=scontent-iad3-1.xx&oh=3b7d6714839fc87be3387e1425e9c83c&oe=5CCD3BD1" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=toast%2C%20durham&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.pureblack.de">pure black</a>
                        </div>
                        <style>.mapouter{text-align:right;height:300px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-around">
            <div class="col-3">
                <div class="resource-card">
                    <div class="row">
                        <a href="http://www.unscriptedhotels.com/" target="_blank">
                            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/37364110_480578235716813_6424410818636414976_n.jpg?_nc_cat=100&_nc_ht=scontent-iad3-1.xx&oh=5d9864e06f0e5ee856a1de1bf2130f6d&oe=5CBFA103" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=unscripted%2C%20durham&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.pureblack.de">pure black</a>
                        </div>
                        <style>.mapouter{text-align:right;height:300px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-around">
            <div class="col-3">
                <div class="resource-card">
                    <div class="row">
                        <a href="http://www.sprucedurham.com/" target="_blank">
                            <img src="https://static.wixstatic.com/media/62adea_a6bc31ccf069459ca11ab2e83eda8c4b.png/v1/fill/w_524,h_185,al_c,q_80,usm_0.66_1.00_0.01/62adea_a6bc31ccf069459ca11ab2e83eda8c4b.webp" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=spruce%2C%20durham&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.pureblack.de">pure black</a>
                        </div>
                        <style>.mapouter{text-align:right;height:300px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-around">
            <div class="col-3">
                <div class="resource-card">
                    <div class="row">
                        <a href="https://www.urbandurhamrealty.com/" target="_blank">
                            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/14032_10153023185034814_6682576325530404638_n.png?_nc_cat=107&_nc_ht=scontent-iad3-1.xx&oh=971b659fb83657fcf950f861d0ce07a3&oe=5CC1F52A" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=urban%20%20durham&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.pureblack.de">pure black</a>
                        </div>
                        <style>.mapouter{text-align:right;height:300px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-around">
            <div class="col-3">
                <div class="resource-card">
                    <div class="row">
                        <a href="https://themadpopper.com/" target="_blank">
                            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/30667_437490657677_8372971_n.jpg?_nc_cat=100&_nc_ht=scontent-iad3-1.xx&oh=424d2e2d4a18cfe7b4988001ba5294e4&oe=5CC04151" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=the%20mad%20popper%2C%20durham&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.pureblack.de">pure black</a>
                        </div>
                        <style>.mapouter{text-align:right;height:300px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-around">
            <div class="col-3">
                <div class="resource-card">
                    <div class="row">
                        <a href="https://crossfitrtp.com/" target="_blank">
                            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/188367_117532308343777_7530750_n.jpg?_nc_cat=102&_nc_ht=scontent-iad3-1.xx&oh=8449e3f570a7748099e15268e90d1027&oe=5CD320AB" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=croosfit%20rtp%2C%20durham&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.pureblack.de">pure black</a>
                        </div>
                        <style>.mapouter{text-align:right;height:300px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-around">
            <div class="col-3">
                <div class="resource-card">
                    <div class="row">
                        <a href="http://elmosdiner.com/" target="_blank">
                            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/1045243_632628583414565_826912612_n.png?_nc_cat=106&_nc_ht=scontent-iad3-1.xx&oh=dda2840abd4fa68aad90c0b9d9b2e8d3&oe=5CB8B425" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=elmos%2C%20durham&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.pureblack.de">pure black</a>
                        </div>
                        <style>.mapouter{text-align:right;height:300px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style>
                    </div>
                </div>
            </div>
        </div>    
    </div>
{% endblock content %}