{% extends 'base.html' %} 
{% block title %}
    Resources - {{ block.super }} 
{% endblock title %}

{% block content %}
    <body>
        {% comment %} <div class="container-clear" style="margin-top: 60px"; > {% endcomment %}
            {% comment %} <br> {% endcomment %}
            <header style="margin-top:80px; padding:20px">
                <h1><center></center></h1><br>
            </header>
            <div class="container-fluid">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link serif xl" style="color:black" data-toggle="tab" href="#businesses">Businesses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active serif xl" style="color:black" data-toggle="tab" href="#therapy">Therapy/Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link serif xl" style="color:black" data-toggle="tab" href="#meetups">Local Meetups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link serif xl" style="color:black" data-toggle="tab" href="#educated">Get Educated</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="businesses" class="tab-pane active"><br>
                        <div class="row">
                            <div class="col-xs-6 col-sm-10 col-md-12 col-lg-12">
                                <div class="container-fluid">
                                    <div class="text-center">
                                        <!-- starting row div -->
                                        <div class="row">
                                            <div class="col" style="margin: 15px">
                                                <a href="https://www.momentumlearn.com/" target="_blank">
                                                    <img class="fluid" style="min-width: 100px; height:170px; border-radius:25px;" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/25443126_2014882095422426_3690665988225275334_n.png?_nc_cat=103&_nc_ht=scontent-atl3-1.xx&oh=82a221cccc0ba0c4c8371d91dbbb3abf&oe=5CCD9048" />
                                                </a>
                                                    <p class='lrg'>Momentum Learning, Inc.</p>
                                            </div>
                                            <div class="col" style="margin: 15px">
                                                <a href="https://americanunderground.com/" target="_blank">
                                                    <img class="fluid" style="min-width: 100px; height:170px; border-radius:25px;" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/12391202_1055886631110445_1871030135299466984_n.png?_nc_cat=111&_nc_ht=scontent-atl3-1.xx&oh=fdbef68345bf36a847e74df4afc67da8&oe=5CCFDB11" />
                                                </a>
                                                    <p class='lrg'>American Underground</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col" style="margin: 15px">
                                                <a href="http://elmosdiner.com/" target="_blank">
                                                    <img class="fluid" style="min-width: 100px; height:170px; border-radius:25px;" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/1045243_632628583414565_826912612_n.png?_nc_cat=106&_nc_ht=scontent-iad3-1.xx&oh=dda2840abd4fa68aad90c0b9d9b2e8d3&oe=5CB8B425" />
                                                </a>
                                                    <p class='lrg'>Elmo's Diner</p>
                                            </div>
                                            <div class="col" style="margin: 15px">
                                                <a href="https://beantraderscoffee.com/" target="_blank">
                                                    <img class="fluid" style="min-width: 100px; height:170px; border-radius:25px;" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/10530704_10152213734582197_3386872890501999960_n.jpg?_nc_cat=105&_nc_ht=scontent-iad3-1.xx&oh=870e50a5127ea68ca583c007c5beb5d1&oe=5CB8560F" />
                                                </a>
                                                    <p class='lrg'>Bean Trader's Coffee</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col" style="margin: 15px">
                                                <a href="https://www.monutsdonuts.com/" target="_blank">
                                                    <img class="fluid" style="min-width: 100px; height:170px; border-radius:25px;" src="http://media.bizj.us/view/img/3199501/monuts*750xx720-960-64-0.jpg" />
                                                </a>
                                                    <p class='lrg'>Monuts Donuts</p>
                                            </div>
                                            <div class="col" style="margin: 15px">
                                                <a href="http://www.cocoacinnamon.com/" target="_blank">
                                                    <img class="fluid" style="min-width: 100px; height:170px; border-radius:25px;" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/17862758_1489228157755454_8075056310338662508_n.jpg?_nc_cat=109&_nc_ht=scontent-iad3-1.xx&oh=3f94b68ebb4f74a66e53bf1b646047e6&oe=5CB581EA" />
                                                </a>
                                                    <p class='lrg'>Cocoa Cinnamon</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col" style="margin: 15px">
                                                <a href="https://www.starbucks.com/" target="_blank">
                                                    <img class="fluid" style="min-width: 100px; height:170px; border-radius:25px;" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/28471538_10156203387293057_6022178779515361320_n.png?_nc_cat=1&_nc_ht=scontent-iad3-1.xx&oh=267970922ceb1424ead1f37f34ecd78f&oe=5CCA445E" />
                                                </a>
                                                    <p class='lrg'>Starbuck's Coffee</p>
                                            </div>
                                            <div class="col" style="margin: 15px">
                                                <a href="http://toast-fivepoints.com/" target="_blank">
                                                    <img class="fluid" style="min-width: 100px; height:170px; border-radius:25px;" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/10428506_10152498328578641_7589511417174479696_n.jpg?_nc_cat=101&_nc_ht=scontent-iad3-1.xx&oh=3b7d6714839fc87be3387e1425e9c83c&oe=5CCD3BD1" />
                                                </a>
                                                    <p class='lrg'>Toast</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col" style="margin: 15px">
                                                <a href="https://www.salvationarmycarolinas.org/durham/home/" target="_blank">
                                                    <img class="fluid" style="min-width: 100px; height:170px; border-radius:25px;" src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/0016/3878/brand.gif?itok=uK-J26Hb" />
                                                </a>
                                                    <p class='lrg'>The Salvation Army</p>
                                            </div>
                                            <div class="col" style="margin: 15px">
                                                <a href="http://www.unscriptedhotels.com/" target="_blank">
                                                    <img class="fluid" style="min-width: 100px; height:170px; border-radius:25px;" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/37364110_480578235716813_6424410818636414976_n.jpg?_nc_cat=100&_nc_ht=scontent-iad3-1.xx&oh=5d9864e06f0e5ee856a1de1bf2130f6d&oe=5CBFA103" />
                                                </a>
                                                    <p class='lrg'>Unscripted Hotels</p>
                                            </div>    
                                        </div>

                                        <div class="row">
                                            <div class="col" style="margin-top:15px; margin-bottom:50px;">
                                                <a href="https://themadpopper.com/" target="_blank">
                                                    <img class="fluid" style="min-width: 100px; height:170px; border-radius:25px;" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/30667_437490657677_8372971_n.jpg?_nc_cat=100&_nc_ht=scontent-iad3-1.xx&oh=424d2e2d4a18cfe7b4988001ba5294e4&oe=5CC04151" />
                                                </a>
                                                    <p class='lrg'>The Mad Popper</p>
                                            </div>            
                                            <div class="col" style="margin-top:15px; margin-bottom:50px;">
                                                <a href="https://crossfitrtp.com/" target="_blank">
                                                    <img class="fluid" style="min-width: 100px; height:170px; border-radius:25px;" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/188367_117532308343777_7530750_n.jpg?_nc_cat=102&_nc_ht=scontent-iad3-1.xx&oh=8449e3f570a7748099e15268e90d1027&oe=5CD320AB" />
                                                </a>
                                                    <p class='lrg'>Crossfit RTP</p>
                                            </div>
                                        </div>
                                        <!-- closing row div -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="therapy" class="tab-pane fade"><br>

                        <div class="row">
                            <div class="col" style="margin: 25px">
                                <a href="https://www.lgbtqcenterofdurham.org/" target="_blank">
                                    <center><img style="max-width: 400px; height:170px; border-radius:25px;" src="https://www.lgbtqcenterofdurham.org/templates/lgbtqdncv2016anormal/images/logo-385757282.png"/></center>
                                </a>
                                    <p class='lrg'><center>LGBTQ Center of Durham</center></p>
                            </div>
                            <div class="col" style="margin: 25px">
                                <a href="https://www.facebook.com/Durham-Gender-Alliance-309705522420935" target="_blank">
                                    <center><img style="max-width: 400px; height:170px; border-radius:25px;" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/542103_324071757650978_1057660526_n.jpg?_nc_cat=103&_nc_ht=scontent-iad3-1.xx&oh=8634eccc13162788d4638677a90b5999&oe=5CC53EB2"/></center>
                                </a>
                                    <p class='lrg'><center>Durham Gender Alliance</center></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="margin: 25px">
                                <a href="https://transgendertransitioncoach.com/" target="_blank">
                                    <center><img style="max-width: 400px; height:170px; border-radius:25px;" src="https://dynamicmedia.zuza.com/zz/m/original_/0/c/0cc93cb2-7616-48d5-8fc2-8f221469dcdc/1297931064126_ORIGINAL_Super_Portrait.jpg"/></center>
                                </a>
                                    <p class='lrg'><center>Transgender Transition Coach</center></p>     
                            </div>
                            <div class="col" style="margin: 25px">  
                                <a href="https://www.psychologytoday.com/us/groups/transgender/nc/durham" target="_blank">
                                    <center><img style="max-width: 400px; height:170px; border-radius:25px;" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/25398783_1642286839143911_307285530199142576_n.png?_nc_cat=106&_nc_ht=scontent-atl3-1.xx&oh=42050452bb4c01a1fbfdfb97923a222f&oe=5CCFF261"/></center>
                                </a>
                                    <p class='lrg'><center>Transgender Support Groups in Durham, NC</center></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="margin-bottom:50px;">  
                                <a href="https://fcsj.org/" target="_blank">
                                    <center><img style="max-width: 400px; height:170px; border-radius:25px;" src="https://fcsj.org/wp-content/themes/fc/images/logo.svg"/></center>
                                </a>
                                    <p class='lrg'><center>The Freedom Center for Social Justice</center></p>
                            </div>
                        </div>
                    </div>
                    <div id="meetups" class="tab-pane fade"><br>

                        <div class="row">
                            <div class="col" style="margin: 25px">
                                <a href="https://www.meetup.com/TriangleGrrrls/" target="_blank">
                                    <center><img style="max-width: 400px; height: auto;" src="https://theme.zdassets.com/theme_assets/2041222/c3ea09fd3c3bd646257ea97a6083bf5f45807354.png"/></center>
                                </a>
                                    <p class='lrg'><center>Triangle Grrrls</center></p>
                            </div>

                            <div class="col" style="margin: 25px">
                                <a href="https://www.meetup.com/Trans_irl/" target="_blank">
                                    <center><img style="max-width: 400px; height: auto;" src="https://theme.zdassets.com/theme_assets/2041222/c3ea09fd3c3bd646257ea97a6083bf5f45807354.png"/></center>
                                </a>
                                    <p class='lrg'><center>Trans IRL</center></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="margin: 25px">
                                <a href="https://www.meetup.com/Triangle-LGBT-Couples-Friends/" target="_blank">
                                    <center><img style="max-width: 400px; height: auto;" src="https://theme.zdassets.com/theme_assets/2041222/c3ea09fd3c3bd646257ea97a6083bf5f45807354.png"/></center>
                                </a>
                                    <p class='lrg'><center>Triangle LGBTQ Couples and Friends</center></p>
                            </div>
                            
                            <div class="col" style="margin: 25px">
                                <a href="https://www.meetup.com/http-www-lgbtcenterofraleigh-com-site-programs-seniors/" target="_blank">
                                    <center><img style="max-width: 400px; height: auto;" src="https://theme.zdassets.com/theme_assets/2041222/c3ea09fd3c3bd646257ea97a6083bf5f45807354.png"/></center>
                                </a>
                                    <p class='lrg'><center>SAGE Raleigh</center></p>
                            </div>
                        </div>
                    </div>
                    <div id="educated" class="tab-pane fade"><br>
                        <div class="row">
                            <div class="col" style="margin: 25px">
                                <a href="https://www.huffingtonpost.com/topic/transgender" target="_blank">
                                    <center><img style="max-width: 400px; height:170px; border-radius:25px;" src="https://thelibertyreview.com/wp-content/uploads/2018/03/HuffPost.png"/></center>
                                </a>
                                    <p class='lrg'><center>HuffPost Transgender News</center></p>
                            </div>
                            <div class="col" style="margin: 25px">
                                <a href="http://point5cc.com/the-history-of-the-transgender-flag/" target="_blank">
                                    <center><img style="max-width: 400px; height:170px; border-radius:25px;" src="http://point5cc.com/wp-content/uploads/2015/04/Point5cc-Blog-TransFlag.jpg"/></center>
                                </a>
                                    <p class='lrg'><center>What is The Transgender Flag?</center></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="margin: 25px">
                                <a href="https://www.webmd.com/sex/features/transgender-what-it-means" target="_blank">
                                    <center><img style="max-width: 400px; height:170px; border-radius:25px;" src="http://wolftribune.com/wp-content/uploads/2018/10/MA-set-to-vote-on-upholding-transgender-rights-in-November.jpg"/></center>
                                </a>
                                    <p class='lrg'><center>What It Means to Be Transgender</center></p>
                            </div>
                            <div class="col" style="margin: 25px">
                                <a href="https://www.plannedparenthood.org/learn/sexual-orientation-gender/trans-and-gender-nonconforming-identities/transgender-identity-terms-and-labels" target="_blank">
                                    <center><img style="max-width: 400px; height:170px; border-radius:25px;" src="https://media.giphy.com/media/8F3qQqJFHMIMuEvbud/giphy.gif"/></center>
                                </a>
                                    <p class='lrg'><center>What Are Appropriate Labels and Terms For Transgender People?</center></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% comment %} </div> {% endcomment %}
    </body>
{% endblock content %}