/* body, html {
    height:100%;
    margin-bottom: 1100px;
  } */
  
  /*
   * Off Canvas sidebar at medium breakpoint
   * --------------------------------------------------
   */
  @media screen and (max-width: 992px) {
  
    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }
  
    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -33%;
    }
  
    .row-offcanvas-left.active {
      left: 33%;
      margin-left: -6px;
    }
  
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 33%;
      height: 100%;
    }
  }
  
  /*
   * Off Canvas wider at sm breakpoint
   * --------------------------------------------------
   */
  @media screen and (max-width: 34em) {
    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -45%;
    }
  
    .row-offcanvas-left.active {
      left: 45%;
      margin-left: -6px;
    }
    
    .sidebar-offcanvas {
      width: 45%;
    }
  }
  
  .card {
      overflow:hidden;
      background-color: #f5a8b8 !important;
  }
  
  .card-body .rotate {
      z-index: 8;
      float: right;
      height: 100%;
      /* background-color: #f5a8b8 !important; */
      
  }
  
  .card-body .rotate i {
      color: rgba(20, 20, 20, 0.15);
      position: absolute;
      left: 0;
      left: auto;
      right: -10px;
      bottom: 0;
      display: block;
      -webkit-transform: rotate(-44deg);
      -moz-transform: rotate(-44deg);
      -o-transform: rotate(-44deg);
      -ms-transform: rotate(-44deg);
      transform: rotate(-44deg);
       background-color: #f5a8b8 !important;
  }

  #goal-button{
      background-color: #87c5dd;
      border: #87c5dd;
      margin-top: 34px;
  }

  #journal-button{
    background-color: #87c5dd;
    border: #87c5dd;
    font: white !important;
    margin-top: 14px;
}
  div#goal-list {
    height: 495px;
}
  
#greeting{
  /* font-family: 'Open Sans', sans-serif; */
  background-color: #f5a8b8 !important;
}

#dash-header{
  font-family: 'Open Sans', sans-serif;
}
.dash-body{
  /* font-family: 'Roboto', sans-serif; */
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  
}

#hatch{
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
}
  
#overall-progress{
  background-color: #fff;
}