/* header {
    border: 2px;
    border-style: solid;
    border-color: black;
}

.generic {
    border: 2px;
    border-style: dotted;
    border-color: gray;
    background-color: rgb(200, 245, 237)
} */

footer {
    background-color: lavender;
    border-top: 2px black dashed;
    display: block;
    text-align: center;
}

footer ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

/* customize navbar */

.bg-dark {
    background-color: rgb(91, 206, 250) !important;
}

.dropdown-item {
    color: rgb(245, 168, 184);
}

/* dashboard */

.container {
    border: 5px dotted black;
    display: inline-block;
    margin: 10px;
}

.container-clear {
    margin: 10px;
}

.row {
    /* border: 3px dashed blue; */
    /* display: inline-block; */
}

.col {
    border: 1px solid magenta;
}

.ib {
    display: inline-block;
}

.col1of2 {
    float: left;
    width: 45%;
    margin: 10px;
    align-items: center;
}

.col2of2 {
    float: left;
    width: 45%;
    margin: 10px;
}

.goal {
    margin: 10px;
    justify-content: space-around;
}

.goal-row {
    margin: 10px;
    justify-content: space-around;
}

.note {
    margin: 10px;
    justify-content: space-around;
    display: block;
}

/* dragula css */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

  /* Sign up */

  .header-signup {
    background-color: rgb(91, 206, 250);
    color: #fff;
    height: 50px;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-left:   15px;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }

  .signup-form {
      padding-left: 25px;
      padding-top: 25px;
  }

  
