header {
    border: 2px;
    border-style: solid;
    border-color: black;
}

.generic {
    border: 2px;
    border-style: dotted;
    border-color: gray;
    background-color: rgb(200, 245, 237)
}

/* .newsfeed {
    background-color: rgb(255, 226, 189);
    border: 5px black solid;
    text-align: center;
    margin: 20%;
    padding: 10%;
} */

.carousel-item {
    height: 500px;
}

footer {
    background-color: lavender;
    border-top: 2px black dashed;
    display: block;
    text-align: center;
}

footer ul li {
    /* background-color: lavender; */
    /* border-top: 2px black dashed; */
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

/* customize navbar */

.bg-dark {
    background-color: rgb(91, 206, 250) !important;
}

.dropdown-item {
    color: rgb(245, 168, 184);
}