/* header {
    border: 2px;
    border-style: solid;
    border-color: black;
}

.generic {
    border: 2px;
    border-style: dotted;
    border-color: gray;
    background-color: rgb(200, 245, 237)
} */

.carousel-item {
    height: 500px;
}

footer {
    background-color: lavender;
    border-top: 2px black dashed;
    display: block;
    text-align: center;
}

footer ul li {
    /* background-color: lavender; */
    /* border-top: 2px black dashed; */
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

/* customize navbar */

.bg-dark {
    background-color: rgb(91, 206, 250) !important;
}

.dropdown-item {
    color: rgb(245, 168, 184);
}

/* dashboard */

.container {
    border: 5px dotted black;
    display: inline-block;
    margin: 10px;
}

.row {
    border: 3px dashed blue;
    /* display: inline-block; */
}

.col {
    border: 1px solid magenta;
}

.ib {
    display: inline-block;
}

.col1of2 {
    float: left;
    width: 45%;
    margin: 10px;
    align-items: center;
}

.col2of2 {
    float: left;
    width: 45%;
    margin: 10px;
}

.goal {
    margin: 10px;
    justify-content: space-around;
}

.goal-row {
    margin: 10px;
    justify-content: space-around;
}

.note {
    margin: 10px;
    justify-content: space-around;
    display: block;
}
